@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap'; // Responsive typography sizes using Bootstrap mixins for the media querries

html {
  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }
  font-size: 14px;
}
// A bit of extra padding for our simplistic example.

body {
  padding: 2rem 0;
}
// Use Sass inheritance / @extend directive to include some default bootstrap
// classes as part of the definition for our custum class.

.header-subtle {
  @extend .text-warning;
  @extend .text-uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.12em;
  opacity: 0.6;
}
/* MY CUSTOM STYLING */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu,
nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt,
u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-------NEW CSS CODE STARTS HERE------*/
/*------- REPEAT _ SETTING -------*/
.bmwlogo, .bmwmotto, .box1, .box2, .box3, .footerdiv, .headdiv, .headerimage, .innerleft, .linkdiv1, .linkdiv2, .linkdiv3, .links, .median, .models, .modeltext1, .nav1, .nav2, .submedian,
body {
  margin: auto;
}

.findmore a,
.nav1 a {
  text-decoration: none;
  color: white;
  font-family: $font-base;
}

a {
  text-decoration: none;
  color: black;
}

.models a {
  text-decoration: none;
  color: white;
}

li,
p {
  font-family: arial;
}
$primary-color: #ffffff;
$image1: BMW Logo.png;
$image2: 8 Series.jpg;
$image3: BMW 2 Series Coupe.png;
$image4: BMW M240i Coupe.png;
$image5: BMW 2 Series Cabriolet.png;
$image6: BMW M240i Cabriolet.png;
$image7: BMW M2.png;
$font-base: arial;
/*------- END _ REPEAT _ SETTING -------*/
/*------- HEADER -------*/
body {
  width: 400px;
}

.box1 {
  background-color: gray;
  height: 255px;
}

.box2 {
  background-color: dodgerblue;
  height: 65px;
}

.box3 {
  width: 120px;
  height: 130px;
  border: 2px solid gray;
  background-color: $primary-color;
  margin-top: -290px;
}

.bmwlogo {
  width: 70%;
  height: 70%;
  background-image: url($image1);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 8px;
}

.bmwmotto {
  width: 73%;
}

.mottotext {
  font-size: 9px;
  text-align: center;
  font-weight: 500;
}

.nav1 {
  padding-top: 190px;
}

.allmodels,
.experience,
.home,
.owners,
.quicklinks,
.search {
  display: inline-block;
  padding-left: 15px;
  color: $primary-color;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.build,
.financial,
.findretailer,
.preowned,
.specialoffers {
  display: inline-block;
  padding-left: 15px;
  margin-top: 10px;
  color: $primary-color;
  font-size: 18px;
  font-weight: bold;
}
/*------- END HEADER -------*/
/*------- INDEX CONTENT -------*/
.headerimage {
  height: 200px;
  background-image: url($image2);
  margin-top: 155px;
  z-index: -1;
  position: relative;
  background-size: 510px;
  background-repeat: no-repeat;
}

.headdiv {
  width: auto;
  height: 140px;
  background-color: dodgerblue;
}

.headleft {
  width: 100%;
  height: 70px;
  float: left;
}

.headtop {
  width: 60%;
  float: left;
  padding-left: 10px;
}

.headbottom {
  width: 40%;
  float: right;
  margin-top: -50px;
}

.headtitle {
  font-size: 30px;
  font-weight: bold;
  color: $primary-color;
  padding-top: 9px;
}

.headdes {
  font-weight: bold;
  color: $primary-color;
  padding-top: 5px;
  width: 140px;
}

.headright {
  width: 100%;
  height: 70px;
  background-color: darkblue;
  float: right;
}

.findmore {
  font-size: 20px;
  font-weight: bold;
  color: $primary-color;
  padding: 25px;
  text-align: center;
}

.medianleft {
  width: 100%;
  height: 400px;
  float: left;
}

.medianright {
  width: 100%;
  height: 450px;
  float: right;
  margin-top: 100px;
}

.subbox1 {
  width: 50%;
  height: 25%;
  float: left;
}

.subbox2 {
  width: 50%;
  height: 25%;
  float: right;
}

.models {
  width: 80%;
  height: 80%;
  margin-top: 15px;
  margin-bottom: -35px;
  background-color: gray;
  border: 0 solid black;
  border-radius: 20px;
}

.submodel {
  width: 60%;
  height: 80%;
  float: left;
  margin-top: 25px;
}

.modeltext1 {
  width: 80%;
  height: 27px;
}

.modelname {
  font-size: 20px;
  color: $primary-color;
  font-weight: bold;
}

.modelseries {
  font-size: 20px;
  color: $primary-color;
  font-weight: bold;
}

.submodel2 {
  width: 40%;
  height: 100%;
  float: right;
}

.modeltext2 {
  width: 80%;
  height: 85%;
  float: right;
  margin-top: 13px;
  margin-right: 10px;
}

.modelnumber,
.modelnumber2,
.modelnumber3 {
  font-size: 80px;
  color: $primary-color;
  font-weight: bold;
}

.modelnumber2 {
  font-style: italic;
  margin-left: -15px;
}

.submedian {
  width: 95%;
  height: 100%;
}

.subbox3 {
  height: 50%;
  width: 100%;
  float: left;
  margin-bottom: -60px;
}

.links {
  width: 90%;
  height: 60%;
  margin-top: 20px;
  background-color: white;
  border: 4px solid gray;
  border-radius: 10px;
}

.linkdiv1,
.linkdiv2,
.linkdiv3 {
  width: 85%;
  margin-bottom: 7px;
}

.linkdiv1 {
  height: 25%;
  margin-top: 8px;
}

.linkdiv2 {
  height: 45%;
  margin-top: -10px;
}

.linkdiv3 {
  height: 20%;
}

.linktitles {
  font-size: 25px;
  font-weight: bold;
}

.linkdes {
  color: gray;
}

.linkdivlink {
  color: darkblue;
  font-weight: bold;
  margin-top: -12px;
}
/*------- END INDEX CONTENT -------*/
/*------- PRODUCT GALLERY -------*/
.breaker1 {
  width: auto;
  height: 80px;
}

.subbreak1 {
  width: 100%;
  height: 80px;
}

.findyour,
.findyourdes {
  width: 70%;
  height: 50%;
  margin-left: 50px;
}

.findyourp {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.findyourdes {
  margin-top: -7px;
}

.breaker2 {
  width: auto;
  height: 130px;
}

.subbreak2 {
  width: 100%;
  height: 130px;
  margin-top: -15px;
}

.sort1 {
  width: 40%;
  height: 30px;
  display: inline-block;
  margin: 18px;
}

.checkbox {
  width: 30px;
  height: 30px;
  float: left;
  border: 5px solid gray;
  margin-top: -5px;
}

.checkboxd {
  width: 75%;
  height: 100%;
  float: right;
}

.checkboxdes {
  font-size: 20px;
  font-weight: bold;
}

.itemgallery {
  width: auto;
  height: 350px;
  margin-top: 220px;
}

.seriesitems {
  width: 90%;
  height: 40%;
  margin: 20px;
  float: left;
  border: 3px solid gray;
  border-radius: 25px;
  overflow: hidden;
}

.itemimage1,
.itemimage2,
.itemimage3,
.itemimage4,
.itemimage5 {
  width: 50%;
  height: 100%;
  float: left;
}

.seriesitemsbox {
  width: 50%;
  height: 100%;
  float: right;
}

.itemprice,
.itemtitle {
  width: 75%;
  height: 30px;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}

.itemtitle {
  margin-top: 10px;
}

.itemprice p {
  padding: 5px;
}

.itemlink {
  width: 75%;
  margin: auto;
  height: 23px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.itemimage1 {
  background-image: url($image3);
  background-size: 210px;
  background-repeat: no-repeat;
}

.itemimage2 {
  background-image: url($image4);
  background-size: 210px;
  background-repeat: no-repeat;
}

.itemimage3 {
  background-image: url($image5);
  background-size: 210px;
  background-repeat: no-repeat;
}

.itemimage4 {
  background-image: url($image6);
  background-size: 210px;
  background-repeat: no-repeat;
}

.itemimage5 {
  background-image: url($image7);
  background-size: 210px;
  background-repeat: no-repeat;
}
/*------- END PRODUCT GALLERY -------*/
/*------- PRODUCT PAGES -------*/
.itempbox {
  width: auto;
  height: 400px;
  margin-top: 0;
}

.itempreviewpic1,
.itempreviewpic2,
.itempreviewpic3,
.itempreviewpic4,
.itempreviewpic5 {
  width: 100%;
  height: 60%;
  float: left;
  background-size: 450px;
  background-repeat: no-repeat;
}

.itempreviewname {
  width: 80%;
  float: none;
  margin: auto;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

.itempreviewprice {
  width: 80%;
  float: none;
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
  padding-bottom: 10px;
}

.itempreviewdec {
  width: 100%;
  float: right;
}

.itempreviewdec p {
  width: 80%;
  padding-bottom: 10px;
  font-weight: 400;
  margin: auto;
}

.itempreviewpic1 {
  background-image: url($image1);
}

.itempreviewpic2 {
  background-image: url($image2);
}

.itempreviewpic3 {
  background-image: url($image3);
}

.itempreviewpic4 {
  background-image: url($image4);
}

.itempreviewpic5 {
  background-image: url($image5);
}
/*------- END PRODUCT PAGES -------*/
/*------- FOOTER -------*/
.footerdiv {
  height: 330px;
  background-color: darkgray;
  margin-top: 1180px;
}

.footerleft {
  width: 100%;
  height: 300px;
  float: left;
}

.innerleft {
  width: 100%;
  height: 85%;
  margin-top: 5px;
}

.footertitle {
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -5px;
  float: left;
  height: 50%;
  margin-bottom: -10px;
  margin-left: 10px;
}

.ftitle {
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

.footernav {
  width: 80%;
}

.footeritems {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  color: dimgray;
}
/*------- END FOOTER -------*/
/*------- TABLET & DESKTOP -------*/
@media screen and (min-width: 35rem) {
  body {
    width: 800px;
    margin: auto;
  }

  .box1 {
    width: auto;
    height: 75px;
  }

  .allmodels,
  .experience,
  .home,
  .owners,
  .quicklinks,
  .search {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
    color:color: $primary-color;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
  }

  .nav1 {
    width: 500px;
    float: right;
    margin-top: -190px;
  }

  .box3 {
    width: 120px;
    height: 130px;
    margin-left: 90px;
    margin-top: -90px;
  }

  .build,
  .financial,
  .findretailer,
  .preowned,
  .specialoffers {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 12px;
    font-size: 11px;
  }

  .box2 {
    width: auto;
    height: 35px;
  }

  .nav2 {
    width: 500px;
    float: right;
  }

  .headerimage {
    width: auto;
    height: 300px;
    margin-top: -54px;
    position: relative;
    background-size: 830px;
    background-repeat: no-repeat;
  }

  .headdiv {
    width: auto;
    height: 70px;
  }

  .headleft {
    width: 60%;
    height: 70px;
    float: left;
  }

  .headtop {
    width: 80%;
    margin: auto;
    float: none;
  }

  .headbottom {
    width: 75%;
    margin: auto;
  }

  .headright {
    width: 40%;
    height: 70px;
    float: right;
  }

  .headdes {
    padding-top: 5px;
    width: 240px;
  }

  .medianleft {
    width: 400px;
    height: 400px;
    float: left;
  }

  .medianright {
    width: 50%;
    height: 450px;
    float: right;
    margin-top: 0;
  }

  .submedian {
    width: 100%;
    height: 100%;
  }

  .subbox3 {
    height: 50%;
    width: 50%;
    float: left;
    margin-bottom: 0;
  }

  .links {
    width: 95%;
    height: 90%;
    margin: 20px auto auto;
  }

  .linkdiv1,
  .linkdiv2,
  .linkdiv3 {
    width: 85%;
    margin: auto;
  }

  .linkdiv1 {
    margin-top: 10px;
  }

  .footerleft {
    width: 100%;
    height: 300px;
    float: left;
  }

  .innerleft {
    width: 95%;
    height: 85%;
    margin: 20px auto auto;
  }

  .footertitle {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -5px;
    float: none;
    height: auto;
    margin-bottom: 0;
  }

  .footernav {
    width: 60%;
  }

  .footerdiv {
    width: auto;
    height: 300px;
    margin-top: 520px;
  }

  .breaker1 {
    width: auto;
    height: 80px;
  }

  .subbreak1 {
    width: 100%;
    height: 80px;
  }

  .findyour,
  .findyourdes {
    width: 70%;
    height: 50%;
    margin-left: 50px;
  }

  .findyourp {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }

  .findyourdes {
    margin-top: -7px;
  }

  .breaker2 {
    width: auto;
    height: 130px;
  }

  .subbreak2 {
    width: 100%;
    height: 130px;
    margin-top: -15px;
  }

  .sort1 {
    width: 25%;
    height: 30px;
    display: inline-block;
    margin: 18px;
  }

  .checkbox {
    width: 30px;
    height: 30px;
    float: left;
    border: 5px solid gray;
    margin-top: -5px;
  }

  .checkboxd {
    width: 75%;
    height: 100%;
    float: right;
  }

  .checkboxdes {
    font-size: 20px;
    font-weight: bold;
  }

  .itemgallery {
    width: auto;
    height: 350px;
    margin-top: 100px;
  }

  .seriesitems {
    width: 40%;
    height: 40%;
    margin: 20px;
    float: left;
    border: 3px solid gray;
    border-radius: 25px;
    overflow: hidden;
  }

  .itemimage1,
  .itemimage2,
  .itemimage3,
  .itemimage4,
  .itemimage5 {
    width: 50%;
    height: 100%;
    float: left;
  }

  .seriesitemsbox {
    width: 50%;
    height: 100%;
    float: right;
  }

  .itemprice,
  .itemtitle {
    width: 75%;
    height: 30px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
  }

  .itemtitle {
    margin-top: 10px;
  }

  .itemprice p {
    padding: 5px;
  }

  .itemlink {
    width: 75%;
    margin: auto;
    height: 23px;
    margin-bottom: -10px;
    margin-top: 10px;
  }

  .itemimage1 {
    background-image: url($image3);
    background-size: 190px;
    background-repeat: no-repeat;
  }

  .itemimage2 {
    background-image: url($image4);
    background-size: 190px;
    background-repeat: no-repeat;
  }

  .itemimage3 {
    background-image: url($image5;
    background-size: 190px;
    background-repeat: no-repeat;
  }

  .itemimage4 {
    background-image: url($image6;
    background-size: 190px;
    background-repeat: no-repeat;
  }

  .itemimage5 {
    background-image: url($image7);
    background-size: 190px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 60rem) {
  body {
    width: 1200px;
    margin: auto;
  }

  .box1 {
    width: auto;
    height: 75px;
  }

  .allmodels,
  .experience,
  .home,
  .owners,
  .quicklinks,
  .search {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    color: white;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
  }

  .nav1 {
    width: 800px;
    float: right;
    margin-top: -190px;
  }

  .box3 {
    width: 120px;
    height: 130px;
    margin-left: 125px;
    margin-top: -90px;
  }

  .build,
  .financial,
  .findretailer,
  .preowned,
  .specialoffers {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    font-size: 17px;
  }

  .box2 {
    width: auto;
    height: 45px;
  }

  .nav2 {
    width: 750px;
    float: right;
  }

  .headerimage {
    width: auto;
    height: 400px;
    margin-top: -54px;
    position: relative;
    background-size: 1210px;
    background-repeat: no-repeat;
  }

  .headdiv {
    width: auto;
    height: 70px;
  }

  .headleft {
    width: 60%;
    height: 70px;
    float: left;
  }

  .headtop {
    width: 80%;
    margin: auto;
    float: none;
  }

  .headbottom {
    width: 75%;
    margin: auto;
  }

  .headright {
    width: 40%;
    height: 70px;
    float: right;
  }

  .headdes {
    padding-top: 5px;
    width: 240px;
  }

  .medianleft {
    width: 40%;
    height: 400px;
    float: left;
  }

  .medianright {
    width: 60%;
    height: 450px;
    float: right;
    margin-top: 0;
  }

  .submedian {
    width: 75%;
    height: 100%;
  }

  .subbox3 {
    height: 40%;
    width: 50%;
    float: left;
    margin-bottom: 0;
  }

  .links {
    width: 90%;
    height: 90%;
    margin: 20px auto auto;
  }

  .linkdiv1,
  .linkdiv2,
  .linkdiv3 {
    width: 85%;
    margin: 5px auto auto;
  }

  .linkdiv1 {
    margin-top: 10px;
  }

  .footerleft {
    width: 70%;
    height: 300px;
    float: left;
  }

  .innerleft {
    width: 95%;
    height: 85%;
    margin: 20px auto auto;
  }

  .footertitle {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -5px;
    float: none;
    height: auto;
    margin-bottom: 0;
  }

  .footernav {
    width: 60%;
  }

  .footerdiv {
    width: auto;
    height: 300px;
    margin-top: 520px;
  }

  .subbreak1 {
    width: 35%;
    height: 80px;
  }

  .sort1 {
    width: 16%;
    height: 30px;
    display: inline-block;
    margin: 20px;
  }

  .subbreak2 {
    width: 100%;
    height: 130px;
    margin-top: -15px;
  }

  .itemgallery {
    width: auto;
    height: 350px;
    margin-top: 50px;
  }

  .seriesitems {
    width: 40%;
    height: 50%;
    margin: 20px;
    float: left;
    border: 3px solid gray;
    border-radius: 25px;
    overflow: hidden;
  }

  .itemimage1,
  .itemimage2,
  .itemimage3,
  .itemimage4,
  .itemimage5 {
    width: 50%;
    height: 100%;
    float: left;
  }

  .seriesitemsbox {
    width: 50%;
    height: 100%;
    float: right;
  }

  .itemprice,
  .itemtitle {
    width: 75%;
    height: 30px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
  }

  .itemtitle {
    margin-top: 20px;
  }

  .itemprice {
    margin-top: -15px;
  }

  .itemprice p {
    padding: 5px;
  }

  .itemlink {
    width: 75%;
    margin: auto;
    height: 23px;
    margin-bottom: -5px;
  }

  .itemimage1 {
    background-image: url($image3);
    background-size: 270px;
    background-repeat: no-repeat;
  }

  .itemimage2 {
    background-image: url($image4);
    background-size: 270px;
    background-repeat: no-repeat;
  }

  .itemimage3 {
    background-image: url($image5);
    background-size: 270px;
    background-repeat: no-repeat;
  }

  .itemimage4 {
    background-image: url($image6);
    background-size: 270px;
    background-repeat: no-repeat;
  }

  .itemimage5 {
    background-image: url($image7);
    background-size: 270px;
    background-repeat: no-repeat;
  }

  .itempbox {
    width: auto;
    height: 400px;
    margin-top: 60px;
  }

  .itempreviewpic1,
  .itempreviewpic2,
  .itempreviewpic3,
  .itempreviewpic4,
  .itempreviewpic5 {
    width: 45%;
    height: 100%;
    float: left;
    background-size: 650px;
    background-repeat: no-repeat;
  }

  .itempreviewname {
    width: 50%;
    float: right;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .itempreviewprice {
    width: 50%;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    padding-bottom: 10px;
  }

  .itempreviewdec {
    width: 50%;
    float: right;
  }

  .itempreviewdec p {
    width: 80%;
    padding-bottom: 10px;
    font-weight: 400;
  }
}
